@import './variables.scss';

.header {
    margin-top: 5px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    &_logo {
        margin-right: 80px;
    }
    &_fav path {
        color: $gray;
    }
}
